@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: "Kanit", serif;
}

p {
    font-family: "Ubuntu", serif;
}

a {
    font-family: "Ubuntu", serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

#header-h1 {
    font-size: 1.7em;
    width: 750px;
    padding: 10px 0px 0px 0px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 30px;
    text-align: justify;
}

body {
    height: 100%vh;
    width: 100%;
    background: linear-gradient(27deg, #FFEAC0, #FF4444);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

body h1 {
    text-align: center;
    padding: 0px 0px 30px 0px;
}

body p {
    text-align: justify;
}

#primeira-pag {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3.6em;

}

#info-primeira-pag {
    margin: 15rem 0rem 0rem 10rem;
    width: 500px;
    font-size: 1.6em;
}

#primeira-pag img {
    width: 750px;
}

#segunda-pag {
    margin: 0rem 1.3rem 0rem 1.3rem;
    height: 75vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}

#info-segunda-pag {
    width: 600px;
    height: 400px;
    background: linear-gradient(27deg, #EF8869, #FBE64D, #63CC79);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    border-radius: 13px;
    font-size: 1.3em;
}

#segunda-pag h2 {
    padding: 2.3rem 0rem 2rem 0rem;
    text-align: center;
}

#segunda-pag p {
    text-align: justify;
    padding: 35px;
}

#terceira-pag {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3.6em;
}

#info-terceira-pag {
    margin: 15rem 0rem 0rem 10rem;
    width: 500px;
    font-size: 1.6em;
}

#info-terceira-pag h2 {
    padding-bottom: 27px;
    text-align: center;
}

#info-terceira-pag p {
    text-align: left;
}

#terceira-pag img {
    width: 650px;
}

#quarta-pag {
    margin: 1.2rem 1rem 1rem 1rem;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.6em;
}

#quarta-pag h1 {
    margin: 2.5rem 0rem 0rem 0rem;
}

#quarta-pag a {
    color: black;
    width: 300px;
    margin-left: 50rem;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 27px;
    background: linear-gradient(27deg, #FFEAC0, #FF4444);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

#footer-basic {
    background: linear-gradient(27deg, #8995e4, #859fee, #4953a6);
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 -9px 32px 0 rgba(0, 0, 0, 0.37);
}

#footer-basic .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-basic p {
    margin: 10px 0;
}

#footer-basic .footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

#footer-basic .footer-links li {
    display: inline;
}

#footer-basic .footer-links li a {
    color: #F5F9F8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#footer-basic .footer-links li a:hover {
    color: #e8704b;
}