@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url(backoff.css);
@import url(primeirapag.css);
@import url(segundapag.css);
@import url(terceirapag.css);
@import url(quartapag.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: "Ubuntu", serif;
}

body {
    background: linear-gradient(27deg, #EAE5FF, #8181DE);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    height: 100vh;
}

.header {
    background: linear-gradient(27deg, #FFEAC0, #FF4444);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 2em;
    font-family: "Kanit", serif;
}

#header-links {
    padding: 20px;
}

#header-links a {
    padding: 0rem 5rem 0rem 5rem;
    text-decoration: none;
    color: black;
}